@import "../../assets/scss/variables";

.#{$prefix} {

  &-index-wrap {
    width: 100%;
    min-height: 100vh;

    .index {
      &-topbar {
        padding: 10rpx 50rpx;
        text-align: center;
        font-weight: bold;

        Text {
          color: rgb(248, 122, 3);
          font-size: 40rpx;
        }

        View {
          color: #333;
          font-size: 30rpx;
        }
      }

      &-list {
        padding: 50rpx;
      }

      &-li {
        box-shadow: 0 4rpx 20rpx rgba($color: #000000, $alpha: 0.1);
        margin-bottom: 50rpx;
        border-radius: 8rpx;
        overflow: hidden;
      }

      &-bg {
        width: 100%;
        height: 300rpx;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-color: #f5f5f5;
      }

      &-info {
        padding: 15rpx;
      }

      &-title {
        font-size: 30rpx;
        font-weight: bold;
        margin-bottom: 10rpx;
      }

      &-des {
        font-size: 26rpx;
        color: #666;
      }
    }
  }
}
